<h1>Cart</h1>
<table>
<tr>
    <th>Name</th>
    <th>Calories</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
</tr>
@for (d of getCartDistinct(); track $index) {
    <tr>
        <td>{{d.name}}</td>
        <td>{{d.calories}}</td>
        <td>$1.00</td>
        <td>x{{getItemQuantity(d)}}</td>
        <td><Button (click)="deleteItem(d)">X</Button></td>
    </tr>
}
</table>
<p>Total Calories: {{getCalories()}}</p>
<p>Total Price ${{getCart().length}}.00</p>
<button (click)="resetCart()">Purchase</button>